<p id="notice"><%= notice %></p>

<p>
  <strong>Image url:</strong>
  <%= @instagram_arts.image_url %>
</p>

<p>
  <strong>Date found:</strong>
  <%= @instagram_arts.date_found %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @instagram_arts.tags %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @instagram_arts.caption %>
</p>

<p>
  <strong>User name:</strong>
  <%= @instagram_arts.user_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @instagram_arts.user_id %>
</p>

<p>
  <strong>User avatar:</strong>
  <%= @instagram_arts.user_avatar %>
</p>

<p>
  <strong>Location name:</strong>
  <%= @instagram_arts.location_name %>
</p>

<p>
  <strong>Location lon:</strong>
  <%= @instagram_arts.location_lon %>
</p>

<p>
  <strong>Location lat:</strong>
  <%= @instagram_arts.location_lat %>
</p>

<p>
  <strong>Location:</strong>
  <%= @instagram_arts.location_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @instagram_arts.image_id %>
</p>

<%= link_to 'Edit', edit_instagram_art_path(@instagram_art) %> |
<%= link_to 'Back', instagram_arts_path %>
