<div class="row h10"></div>
<div class="large-12">
  <div class="large-6 column">
    <%= image_tag @instagram_arts.image_url %>
  </div>
  <div class="large-6 column">
    <div class="row">
      <div class="large-3 column">
        <h1>
          <%= image_tag @instagram_arts.user_avatar %>
          <%= @instagram_arts.user_name %>
        </h1>
      </div>
      <div class="large-9 column">
        <h3><%= @instagram_arts.caption %></h3>
      </div>
    </div>
    <div class="row column">
      <time <%= @instagram_arts.date_found %>></time>
    </div>
    <div class="row">
      <div class="large-8 column">
        <div id="map-small"></div>
      </div>
      <div class="large-4 column">
        <p>
          <strong>Location name:</strong>
          <%= @instagram_arts.location_name %>
        </p>
        <p>
          <strong>Lat: </strong><%= @instagram_arts.location_lat %><br>
          <strong>Lon: </strong><%= @instagram_arts.location_lon %>
        </p>
        <p>
          <%= @instagram_arts.tags %>
        </p>
      </div>
    </div>
  </div>
</div>
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.0/mapbox.js'></script>
<style>
  #map-small{
    height: 425px;
  }
</style>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.0/mapbox.css' rel='stylesheet' />
<script>
L.mapbox.accessToken = 'pk.eyJ1IjoibGtiZ2lmdCIsImEiOiJyTERaTml3In0.y2wd_Fi58ux53Wm1Ur1qCg';
var map = L.mapbox.map('map-small', 'examples.map-20v6611k', {
  zoomControl: false
})
    .setView([<%= @instagram_arts.location_lat %>,<%= @instagram_arts.location_lon %>], 12);

map.dragging.disable();
map.touchZoom.disable();
map.doubleClickZoom.disable();
map.scrollWheelZoom.disable();

L.mapbox.featureLayer({
    // this feature is in the GeoJSON format: see geojson.org
    // for the full specification
    type: 'Feature',
    geometry: {
        type: 'Point',
        // coordinates here are in longitude, latitude order because
        // x, y is the standard for GeoJSON and many formats
        coordinates: [
          <%= @instagram_arts.location_lon %>,
          <%= @instagram_arts.location_lat %>
        ]
    },
    properties: {
        title: "<%= @instagram_arts.user_name %>'s photo",
        description: '<%= @instagram_arts.location_name %>',
        // one can customize markers by adding simplestyle properties
        // https://www.mapbox.com/foundations/an-open-platform/#simplestyle
        'marker-size': 'large',
        'marker-color': '#BE9A6B',
        "iconUrl": "<%= @instagram_arts.user_avatar %>",
        "iconSize": [50, 50]
    }
}).addTo(map);
</script>
<div class="clearfix"></div>
