
<% @graffitis.each do |graffiti| %>
  <% if(graffiti.image_url != nil) %>
    <% @background_image = graffiti.image_url %>
  <% else %>
    <% @background_image = graffiti.images.url(:medium) %>
  <% end %>
  <li class="block-grid-single">
    <div class="">
      <%= link_to graffiti do %>
        <div class="large-12 image-container" style="background-image:url('<%= @background_image %>');">
        </div>
      <% end %>
      <%#= render 'descriptionBlock' %>
    </div>
  </li>
<% end %>
<script>
var geoJSON = [
<% @graffitis.each do |graffiti| %>
  {
    "type": "Feature",
    <% if graffiti.location != nil%>
    "geometry": {
      "type": "Point",
      "coordinates": [<%= graffiti.location.longitude %>, <%= graffiti.location.latitude %>]
    },
    <% end %>
    "properties": {
      <% if graffiti.name != nil%>
      "title": "<%= graffiti.name.to_json %>",
      <% end %>
      <% if graffiti.name != nil%>
        "description": "<%= graffiti.description.to_json %>",
      <% end %>
      "marker-color": "#fc4353",
      "marker-size": "large",
      "marker-symbol": "monument"
    }
  }<% if graffiti != @graffitis.last %>,<% end %>
<% end %>
]
</script>
