<h1>Listing graffitis</h1>

    <% @graffitis.each do |graffiti| %>
      <div class="row min-slide">
        <div class="large-6 column">
          <h3>
            <%= link_to graffiti.name, graffiti %>
          </h3>
          <p>
            <%= link_to graffiti.description, graffiti %>
          </p>
        </div>
        <%= link_to graffiti, :class=>'large-6 column' do %>
        <div class="large-12 image-container" style="background-image:url('<%= graffiti.images %>');">
        </div>
        <% end %>
      </div>
      | <%= pluralize graffiti.get_likes.size, 'like' %>
      <% if current_user && !current_user.voted_for?(graffiti) %>
        | <%= link_to "like", vote_graffiti_path(graffiti) %>
      <% end %>


    <% end %>
<br>

<%= link_to 'New Graffiti', new_graffiti_path %>
