<h1>Listing graffitis</h1>

    <% @graffitis.each do |graffiti| %>
      <div class="row">
        <div class="large-6 column">
          <h3>
            <%= link_to graffiti.name, graffiti %>
          </h3>
          <p>
            <%= link_to graffiti.description, graffiti %>
          </p>
        </div>
        <div class="large-6 column">
          <%= link_to graffiti do %>
            <%= image_tag graffiti.images %>
          <% end %>
        </div>
      </div>
    <% end %>
<br>

<%= link_to 'New Graffiti', new_graffiti_path %>
