<h1>Listing graffitis</h1>

<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @graffitis.each do |graffiti| %>
      <tr>
        <td><%= graffiti.artist.name %></td>
        <td><%= graffiti.description %></td>
        <td><%= graffiti.images %></td>
        <td><%= link_to 'Show', graffiti %></td>
        <td><%= link_to 'Edit', edit_graffiti_path(graffiti) %></td>
        <td><%= link_to 'Destroy', graffiti, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Graffiti', new_graffiti_path %>
