<div class="row">
  <div class="owl-carousel">
    <%= render 'layouts/modules/supportListItem' %>
    <%= render 'layouts/modules/supportListItem' %>
    <%= render 'layouts/modules/supportListItem' %>
    <%= render 'layouts/modules/supportListItem' %>
    <%= render 'layouts/modules/supportListItem' %>
    <%= render 'layouts/modules/supportListItem' %>
  </div>
</div>
<hr>
