<%= simple_form_for(@artist) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :slug %>
    <%= f.input :description %>
    <%= f.input :tag_list %>
    <%= f.input :twitter_url %>
    <%= f.input :instagram_url %>
    <%= f.input :flickr_url %>
    <%= f.input :tumblr_url %>
    <%= f.input :began_at, prompt: "Unknown" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
