<div class="artist-block">
  <h1>
    <%= @artist.name %>
  </h1>
  <% if @artist.description != '' %>
   | <h2><%= @artist.description %></h2>
  <% end %>
  <p>
    New York City, NY, USA
  </p>
</div>
<div class="tagdata-block">
  <span class="label">Verified</span>
  <span class="label secondary">Artist Network</span>
</div>
<div class="hiredata-block">
  <div class="">
    <h4><%= @pieces.count %></h4><label> Pieces</label>
    <h4><%= @unique_locations.count %></h4><label> Places</label>
  </div>
</div>

<div class="location-block">
  <div class="graph-wrapper">
    <h3>Connected</h3>
  </div>
  <div class="graph-details">
    <ul class="no-bullet">
      <% if !@artist.tumblr_url.empty? %>
        <%= link_to @artist.tumblr_url do %>
          <li class="social-link">Tumblr</li>
        <% end %>
      <% end %>
      <% if !@artist.twitter_url.empty? %>
        <%= link_to @artist.twitter_url do %>
          <li class="social-link">Twitter</li>
        <% end %>
      <% end %>
      <% if !@artist.instagram_url.empty? %>
        <%= link_to @artist.instagram_url do %>
          <li class="social-link">Instagram</li>
        <% end %>
      <% end %>
      <% if !@artist.flickr_url.empty? %>
        <%= link_to @artist.flickr_url do %>
          <li class="social-link">Flickr</li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="image-block"></div>
</div>
