<style>
/*div{border: 1px solid black;}*/
</style>

<div class="row">
  <h1>Listing Worlds Best Artists</h1>
</div>
<div class="row">
  <div class="large-8 column">
    <% @artists.each do |artist| %>
      <div class="artist-block">
        <div class="user-info">
          <%= link_to artist do %>
            <h2>
              <%= artist.name %>
            </h2>
          <% end %>
          <p><%= artist.description %></p>
          <div class="like-box">
            <%= pluralize artist.get_likes.size, 'like' %>
            <% if current_user && !current_user.voted_for?(artist) %>
              | <%= link_to "like", vote_artist_path(artist) %>
            <% end %>
          </div>
        </div>
        <div class="user-works">
          <ul class="large-block-grid-6">
          <!-- NEED TO PUT A LIMITER ON THE NUMBER OF ARTISTS CALLED -->
          <% if artist.graffitis.size > 0 %>
            <% artist.graffitis.each do |work| %>
              <li>
                <%= image_tag work.images %>
              </li>
            <% end %>
          <% else %>
            <li>No images</li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <div class="large-4 column">

  </div>
</div>
<div class="row">
  <%= link_to new_artist_path,:class=>'button radius white large-12' do %>
    Add new artist
  <% end %>
</div>
