<div class="row">
  <h1>Listing Worlds Best Artists</h1>
</div>
<div class="row">
  <div class="large-8 column">
    <% @artists.each do |artist| %>
      <div class="artist-block">
        <div class="user-info">
          <%= link_to artist do %>
            <h3>
              <%= artist.name %>
            </h3>
          <% end %>
          <p><%= artist.description %></p>
        </div>
        <div class="user-works">
          <ul class="large-block-grid-4">
            <% artist.graffitis.each do |work| %>
              <li>
                <%= image_tag work.images %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <div class="large-4 column">

  </div>
</div>

<%= link_to 'New Artist', new_artist_path %>
