<style>div{border: 1px solid black;}</style>

<p id="notice"><%= notice %></p>
<div class="row">
<div class="large-2 column">
    <h1>
      <%= @artist.name %>
    </h1>
    <p>
      New York City, NY, USA
    </p>
    <span class="label">Verified</span>
    <span class="label secondary">Artist Network</span>
  </div>
  <div class="large-5 column">
    <div class="large-12">
      <h3>
        Locations
      </h3>
    </div>

    <%= render 'artists/location_block' %>
    <%= render 'artists/location_block' %>
    <%= render 'artists/location_block' %>
    <%= render 'artists/location_block' %>

  </div>
  <div class="large-5 column location-block">
    <div class="large-12">
      <h3>
        Stats
      </h3>
    </div>
    <%= render 'artists/visualization_block' %>

  </div>
</div>

<div class="row">
  <div class="large-12 column">
    <h4>Visualization</h4>
  </div>
</div>



  <% if @artist.description != '' %>
  | <%= @artist.description %>
  <% end %>


<p>
  <strong>Began at:</strong>
  <%= @artist.began_at %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
