<style>div{border: 1px solid black;}</style>

<p id="notice"><%= notice %></p>
<div class="row">
  <div class="large-2 column">
    <div class="artist-block">
      <h1>
        <%= @artist.name %>
      </h1>
      <% if @artist.description != '' %>
       | <h2><%= @artist.description %></h2>
      <% end %>


      <p>
        New York City, NY, USA
      </p>
    </div>
    <div class="tagdata-block">
      <span class="label">Verified</span>
      <span class="label secondary">Artist Network</span>
    </div>
    <div class="hiredata-block">

    </div>
  </div>
  <div class="large-5 column">
    <div class="large-12">
      <h3>
        Locations
      </h3>
    </div>

    <% @pieces.each do |piece| %>
      <div class="row">
        <%= link_to piece do %>
          <%= image_tag piece.images, :class=>'large-3' %>
          <%= piece.description %>
        <% end %>
        <%= link_to piece.location do %>
          <%= piece.location.name %>
          <%= piece.location.longitude %>
          <%= piece.location.latitude %>
        <% end %>

      </div>
    <% end %>

  </div>
  <div class="large-5 column location-block">
    <div class="large-12">
      <h3>
        Stats
      </h3>
    </div>
    <%= render 'artists/visualization_block' %>
    <%= render 'artists/socialprint_block' %>

  </div>
</div>

<div class="row">
  <div class="large-12 column">
    <h4>Visualization</h4>
  </div>
</div>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
