<style>div{border: 1px solid black;}</style>

<p id="notice"><%= notice %></p>
<div class="row">
  <div class="large-2 column">

    <%= render 'artists/short_bio' %>

  </div>
  <div class="large-5 column">
    <div class="large-12">
      <h3>
        Locations
      </h3>
    </div>

    <!-- Location Block -->
    <% @pieces.each do |piece| %>
      <div class="row">
        <%= link_to piece do %>
          <%= image_tag piece.images, :class=>'large-3' %>
          <%= piece.description %>
        <% end %>
        <%= link_to piece.location do %>
          <%= piece.location.name %>
          <%= piece.location.longitude %>
          <%= piece.location.latitude %>
        <% end %>
      </div>
    <% end %>
    <!-- Location Block End -->

  </div>
  <div class="large-5 column location-block">
    <div class="large-12">
      <h3>
        Stats
      </h3>
    </div>

  </div>
</div>

<div class="row">
  <div class="large-12 column">
    <%= render 'artists/visualization_block' %>
  </div>
</div>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
