<style>
/*div{border: 1px solid black;}*/
</style>

<p id="notice"><%= notice %></p>
<div class="row">
  <div class="large-2 column">

    <%= render 'artists/short_bio' %>

  </div>
  <div class="large-5 column">
    <div class="large-12">
      <h3>
        Locations
      </h3>
    </div>

    <!-- Location Block -->
    <% @pieces.each do |piece| %>
      <div class="row">
        <div class="large-4 column">
          <%= link_to piece do %>
            <%= image_tag piece.images %>
          <% end %>
        </div>
        <div class="large-8 column">
          <h4>
            <%= piece.description %>
          </h4>
          <div class="row column">
            <%= link_to piece.location do %>
              <%= piece.location.name %>
              <%= piece.location.longitude %>
              <%= piece.location.latitude %>
            <% end %>
          </div>

        </div>
      </div>
    <% end %>
    <!-- Location Block End -->

  </div>
  <div class="large-5 column location-block">
    <div class="large-12 owl-carousel-profile">
      <% @pieces.each do |piece| %>
        <div class="item">
          <%= image_tag piece.images %>
        </div>
      <% end %>
    </div>

  </div>
</div>

<div class="row">
  <div class="large-12 column">
    <%= render 'artists/visualization_block' %>
  </div>
</div>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
