<h1>Listing artist_graffitis</h1>

<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Graffiti</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artist_graffitis.each do |artist_graffiti| %>
      <tr>
        <td><%= artist_graffiti.artist %></td>
        <td><%= artist_graffiti.graffiti %></td>
        <td><%= link_to 'Show', artist_graffiti %></td>
        <td><%= link_to 'Edit', edit_artist_graffiti_path(artist_graffiti) %></td>
        <td><%= link_to 'Destroy', artist_graffiti, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artist graffiti', new_artist_graffiti_path %>
