<% if signed_in? %>

  <%= render 'arts/start' %>

  <%#= render 'layouts/signed/dashboard' %>
  <%#= render 'layouts/modules/employmentBlock' %>
  <%#= render 'layouts/modules/curratorBlock' %>
  <%#= render 'layouts/modules/trendingBlock' %>
  <%#= render 'layouts/about/projectSource' %>

<% else %>
  <%
    set_meta_tags :og => {
      :title    => 'Public Artfound',
      :type     => 'website',
      :url      => 'http://www.publicartfound.com',
      :image    => 'http://www.publicartfound.com/assets/ex-macbook.png',
    }
  %>
  <%
    set_meta_tags :twitter => {
      :card => "The only platform to showcase street art and graffiti.",
      :site => "@publicartfound"
    }
  %>
  <% set_meta_tags :canonical => "http://www.publicartfound.com/" %>
  <% set_meta_tags :site => 'Public Artfound', :title => 'The only platform to showcase street art and graffiti.', :reverse => true %>

  <%= render 'layouts/hero/heroslider' %>

  <h1 class="text-center">Over <strong class="count-amount"><%= InstagramArt.count %></strong> pieces and counting</h1>

  <%= render 'layouts/hero/stepbystep' %>

  <%= render 'layouts/hero/explain' %>

  <div class="call-to-action signup-wrapper">
    <div class="row">
      <div class="large-8 column large-centered">
        <%= render 'layouts/email/signup' %>
      </div>
    </div>
  </div>

<% end %>
