<% if signed_in? %>

  <%= render 'layouts/signed/dashboard' %>
  <%= render 'layouts/modules/employmentBlock' %>
  <%= render 'layouts/modules/curratorBlock' %>
  <%= render 'layouts/modules/trendingBlock' %>
  <%= render 'layouts/about/projectSource' %>

<% else %>

  <%= render 'layouts/hero/heroslider' %>

  <div class="call-to-action signup-wrapper">
    <div class="row">
      <div class="large-8 column large-centered">
        <h4>Join our experiment</h4>
        <p>Get early access to contribute images and annotatations.</p>
        <div id="mc_embed_signup">
          <form action="//publicart.us8.list-manage.com/subscribe/post?u=594b0242335ef8b4da3200914&amp;id=ab06399a22" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_594b0242335ef8b4da3200914_ab06399a22" tabindex="-1" value=""></div>
              <div class="row collapse">
                <div class="large-7 column">
                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                </div>
                <div class="large-5 column">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="large-12 input-height button small">
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<% end %>
