<% if signed_in? %>

  <%= render 'layouts/signed/dashboard' %>
  <%= render 'layouts/modules/employmentBlock' %>
  <%= render 'layouts/modules/curratorBlock' %>
  <%= render 'layouts/modules/trendingBlock' %>
  <%= render 'layouts/about/projectSource' %>

<% else %>

  <%= render 'layouts/hero/heroslider' %>
  <div class="hero-explain white-bg">
    <div class="row">
      <div class="large-8 column large-centered">
        <h3>Street art is seen by many, then removed forever.</h3>
        <h3>Thats why we made Public Art Found- a platform for documenting the significance behind the best street art.</h3>
        <h3>Anyone can contribute thier own artists, art pieces, and street art hotspots. Then you can annotate the .</h3>
      </div>
    </div>
  </div>



<% end %>
