<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @art.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @art.location_id %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @art.artist_id %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @art.slug %>
</p>

<p>
  <strong>Name:</strong>
  <%= @art.name %>
</p>

<%= link_to 'Edit', edit_art_path(@art) %> |
<%= link_to 'Back', arts_path %>
