<%= simple_form_for(@location, html: {multipart: true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :twitter_url %>
    <%= f.input :instagram_url %>
    <%= f.input :website_url %>
    <%= f.input :facebook_url %>
    <%= f.input :slug %>
    <%= f.input :address %>
    <%= f.input :longitude %>
    <%= f.input :latitude %>
    <%= f.input :instagram, label: 'Instagram [location_id]' %>
    <%= f.input :image, :class => "form-control" %>
    <%= f.input :discovered_at, prompt: "Unknown"  %>
    <%= f.input :demolished_at, prompt: "Not Applicable"  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
