<div class="row">
  <h1>Best Places for Street Art</h1>
</div>
<div class="row">
  <div class="large-12 column">
    <%= form_tag locations_path, :method => :get do %>
      <p>
        <%= text_field_tag :search, params[:search], :class=> 'large-9 column' %>
        <%= submit_tag "Search Near", :name => nil, :class=>'large-3 collapse button secondary' %>
      </p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="large-12 column">
    <ul class="large-block-grid-3">
      <% @locations.each do |location| %>
        <li>
          <%= link_to location do %>
            <h2>
              <%= location.name %>
            </h2>
          <% end %>
          <p class="address">
            <%= location.address %>
          </p>
          <p>
            <span><%= location.longitude %></span>,
            <span><%= location.latitude %></span>
          </p>
        </li>
      <% end %>
      <li class="text-center">
        <%= link_to new_location_path do %>
          <%= image_tag 'location-icon.png' %>
        <% end %>
        <%= link_to new_location_path do %>
          <p>Add new location</p>
        <% end %>
      </li>
    </ul>
  </div>


</div>
