<div class="row">
  <h1>Best Places for Street Art</h1>
</div>
<div class="row">
  <div class="large-12 column">
    <%= form_tag locations_path, :method => :get do %>
      <p>
        <%= text_field_tag :search, params[:search], :class=> 'large-9 column' %>
        <%= submit_tag "Search Near", :name => nil, :class=>'large-3 collapse button secondary' %>
      </p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="large-12 column">
    <ul class="large-block-grid-3">
      <% @locations.each do |location| %>
        <li>
          <div class="block-container">
            <%= link_to location do %>
              <% if location.image != nil %>
                <%= image_tag location.image %>
              <% else %>
                <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{location.latitude}%2C#{location.longitude}" %>
              <% end %>
            <% end %>
            <div class="text-wrapper">
              <%= link_to location do %>
                <h2>
                  <%= location.name %>
                </h2>
                <p class="address">
                  <%= location.address %>
                </p>
              <% end %>
            </div>
            <div class="like-box">
              <%= pluralize location.get_likes.size, 'like' %>
              <% if current_user && !current_user.voted_for?(location) %>
                | <%= link_to "like", vote_location_path(location) %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>

    </ul>
    <%= link_to new_location_path,:class=>'button radius white large-12' do %>
      Add new location
    <% end %>
  </div>


</div>
