<div class="large-12 hero-image-slice" style="background-image: url('<%= @heroImage %>'); ">
</div>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="large-6 column">
<p>
  <h1>
    <%= @location.name %>
  </h1>
</p>

<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <strong>Address:</strong>
  <span itemprop="streetAddress"><%= @location.address %></span>
</div>

<p>
  Lon: <%= @location.longitude %>,
  Lat: <%= @location.latitude %>
</p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>

<%#= render 'locations/nearby_block' %>

<%#= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
  </div>
  <div class="large-6 column scroller">
  <% if @location.instagram != nil %>
    <% @instagram.each do |instagram| %>
      <%= image_tag instagram.images.standard_resolution.url %>
    <% end %>
  <% end %>
  </div>
</div>





