<!DOCTYPE html>
<html>
<head>
  <title>Public Art Found</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <meta name="google-site-verification" content="yk_WwSKAD1CGutpmR4yQbvhOmsOE8zr3NjQXp4narwo" />
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Prelang: Analytics / Google Analytics -->
    <%= analytics_init if Rails.env.production? %></head>
    <%= render 'layouts/tracking/mixpanel' %>
    <%= render 'layouts/tracking/googleanalytics' %>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>
  </head>
  <body>
    <%= render 'layouts/navigation/topnav' %>
    <div class="row upload-slot"></div>
      <div class="row alert-container">
        <% flash.each do |name, msg| %>
        <div data-alert class="alert-box info radius">
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <a href="#" class="close">&times;</a>
        </div>
        <% end %>
      </div>

      <%= yield %>

    <%= render 'layouts/footer/footerCase' %>

    <div id="myModal" class="reveal-modal small" data-reveal>
      <button class="close-reveal-modal" id="close-reveal-modal">×</button>
      <div class="video-player-contain" style="margin-bottom: 1em;"></div>
      <p style="margin-bottom: 0em;">
        <ul class="button-group" style="float:left">
          <li><a style="margin-bottom: 0em;" class="button secondary" href="http://www.pace.edu/admission-aid/undergraduate-admission/special-interest-tours">Schedule a tour</a></li>
        </ul>
        <a style="margin-bottom: 0em; float:right;" class="button secondary" href="http://www.pace.edu/dyson/academic-departments-and-programs/performing-arts/auditions">How to Audition</a>
      </p>
    </div>

    <div class="dropdown_button"></div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
